body {
  margin: 0;
  padding: 0;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Edge */
  /*! Can't f!cking center the background (The image is zoomed a bit in browser)*/
  /* TODO: background fix*/
  background-image: url(../assets/img/Background.png);  /*<---Image from assets folder*/  /*url("https://wallpapers.com/images/hd/cute-dark-a022kawmtjm4zd3a.jpg");*/
  cursor: none;
  height: 5000px;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}
head {
    background-color: black;
}

h3{
  color: white;
  margin: 0; /* Remove default margin */
  font-weight: bolder;
  text-align: center;
  position: absolute;
  top: 25%;
  left: 50%;
  font-family: 'Josefin Sans';
  transform: translate(-45%, -50%);
}
h1 {
  color: #ffd700;
  margin: 0; /* Remove default margin */
  font-weight: bolder;
  text-align: center;
  position: absolute;
  top: 45%;
  left: 50%;
  font-family: 'Josefin Sans';
  font-size: 50px;
  transform: translate(-45%, -50%);
}

#scroll-down {
    color: white;
    margin-top: 20px; /* Space between h1 and the button */
    
}

#scroll-down img {
  width: 50px; /* Adjust as needed */
  height: 50px; /* Adjust as needed */
  max-width: 100%;
  max-height: 100%;
  animation: pulse 2s infinite ease-in-out; /* Apply the pulse animation */
  transition: drop-shadow 0.3s ease;
}

img.main-arrow {
  z-index:2;
}
img.glow-arrow {
  z-index:1;
  transform: scale(1.01) translate(-50%, -50%);
  -webkit-transform: scale(1.01) translate(-50%, -50%);
  filter: brightness(0) invert(1) blur(5px);
  -webkit-filter: brightness(0) invert(1) blur(5px);
  opacity:0;
}
img.main-arrow:hover ~ img.glow-arrow {
  opacity:1;
}

/* TODO this img specifier cannot be allowed like what the actual F@ck, like every img file to be specifieb by this really???????*/
img {
  position:absolute;
  max-height:90%;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
}
img.Logo{
  position: absolute;
  top: 6%;
  left: 90px;
  max-height: 10%;
  max-width: 105px;
  height: 80%;
  width: 80%;
}

.cursor {
    width: 16px; /* Size of the cursor */
    height: 16px; /* Size of the cursor */
    border-radius: 50%; /* Makes it a circle */
    background: rgba(255, 255, 255, 0.6); /* White color with opacity */
    position: fixed; /* Keeps the cursor on top of other elements */
    pointer-events: none; /* Ensures click events are not captured by the cursor */
    z-index: 10000; /* Ensures the cursor is above other items */
    transition: transform 0.05s ease-out; /* Smooth transition for the movement */
    left: 0; /* Initial left position */
    top: 0; /* Initial top position */
    filter: blur(0.5px);
  }


  #star-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  
  .star {
    position: absolute;
    color: white; /* Color of the symbol */
    font-family: 'Arial', sans-serif; /* Specify the font to ensure consistent sizing */
    animation: fly 10s linear infinite;
  }
  
  .star::before {
    content: attr(data-symbol); /* Use the symbol stored in the data-symbol attribute */
  }

  @keyframes pulse {
    0% {
      transform: scale(1); /* Original size */
    }
    50% {
      transform: scale(1.1); /* 10% larger */
    }
    100% {
      transform: scale(1); /* Back to original size */
    }
  }
  
  /* Animation to move the stars from top to bottom */
  @keyframes fly {
    from {
      transform: translateY(-10px);
    }
    to {
      transform: translateY(100vh);
    }
  }
  

  @keyframes fallingStar {
    0% {
      transform: translateX(0) translateY(0) rotate(0deg);
      opacity: 1;
    }
    100% {
      transform: translateX(400px) translateY(800px) rotate(75deg); /* Rotate horizontally */
      opacity: 0;
    }
  }
  
  
  
  .star.glowing-star {
    position: absolute;
    color: yellow;
    text-shadow: 0 0 2px yellow, 0 0 3px yellow; /* Glowing effect */
    animation: fallingStar 1s ease-in-out forwards; /* Animation for falling effect */
  }
  
  .star.glowing-star::after {
    content: '$$$$$$$$$';
    position: absolute;
    top: 0;
    left: 0;
    width: 1px; /* Width of the trail */
    height: 8px; /* Height of the trail */
    background: linear-gradient(to bottom, yellow, transparent); /* Gradient for the trail */
    animation: fallingStar 1s ease-in-out forwards; /* Animation for falling effect */
  }

  .ig-btn {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 20px; /* Place the button at the left edge */
    top: 92%; /* Center vertically by moving it 50% down from the top */
    transform: translateY(-50%); /* Adjust to center vertically */
  }
  
  .fb-btn {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 90px; /* Place the button at the left edge */
    top: 92%; /* Center vertically by moving it 50% down from the top */
    transform: translateY(-50%); /* Adjust to center vertically */
  }
  




  /* unselectable class -> keep it under this line */
  .unselectable {
    user-select: none;
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
  }